.contactPage{
	&__content{
		margin-bottom: 60px;
	}
	&__map{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100% !important;
		height: 375px !important;
		z-index: 1;
		position: relative;
	}
	&__map-loading {
		color: #616161;
		font-family: Roboto,Arial,sans-serif;
		text-align: center;
		font-size: 24px;
	}
}

.contacts{
	padding-top: 20px;
	line-height: 25px;
	&__item{
		padding-left: 45px;
		margin-bottom: 25px;
		position: relative;
	}
	&__title{
		font-size: 20px;
		text-transform: uppercase;
	}
	&__content{
		line-height: 25px;
	}
	&__img{
		position: absolute;
		left: 0;
		top: 0;
	}
}

.feedbackForm{
	&__title{
		margin: 0 0 20px;
		text-transform: uppercase;
		font-size: 20px;
	}
	&__submit{
		width: 50%;
	}
}

.captcha{
	&__title{
		font-size: 14px;
		color: #474747;
		margin: 15px 0 7px;
	}
	&__info{
		font-size: 14px;
		color: #474747;
		margin: 5px 0 25px;
	}
	&__content{
		display: table;
		width: 100%;
		overflow: hidden;
	}
	&__img-wrap,
	&__input-wrap,
	&__reload{
		display: table-cell;
		vertical-align: middle;
	}
	&__img-wrap{
		width: 200px;
		background-color: #fff;
	}
	&__input-wrap{
		padding: 0 8px;
	}
	&__reload{
		width: 34px;
	}
}


@include max-screen(991px){
	.contactPage{
		&__content{
			margin-bottom: 30px;
		}
	}
	.contacts{
		display: inline-block;
		text-align: left;
		margin-bottom: 30px;
		&-wrap{text-align: center;}
	}
}


@include max-screen(768px){
	.contactPage{
		&__map{
			height: 200px !important;
		}
	}
}

@include max-screen(549px){
	.captcha{
		&__img-wrap{
			margin-bottom: 15px;
		}
		&__input-wrap{
			width: calc(100% - 56px);
			&--light{
				width: calc(100% - 51px);
			}
		}
	}
}