.contactPage{
	&__content{
		margin-bottom: 60px;
	}
	&__map{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100% !important;
		height: 375px !important;
		z-index: 1;
		position: relative;
	}
	&__map-loading {
		color: #616161;
		font-family: Roboto,Arial,sans-serif;
		text-align: center;
		font-size: 24px;
	}
}

.contacts{
	padding-top: 20px;
	line-height: 25px;
	&__item{
		padding-left: 45px;
		margin-bottom: 25px;
		position: relative;
	}
	&__title{
		font-size: 20px;
		text-transform: uppercase;
	}
	&__content{
		line-height: 25px;
	}
	&__img{
		position: absolute;
		left: 0;
		top: 0;
	}
}

.feedbackForm{
	&__title{
		margin: 0 0 20px;
		text-transform: uppercase;
		font-size: 20px;
	}
	&__submit{
		width: 50%;
	}
}

@include max-screen(991px){
	.contactPage{
		&__content{
			margin-bottom: 30px;
		}
	}
	.contacts{
		display: inline-block;
		text-align: left;
		margin-bottom: 30px;
		&-wrap{text-align: center;}
	}
}


@include max-screen(768px){
	.contactPage{
		&__map{
			height: 200px !important;
		}
	}
}