.navbar-sidebar{
	.navbar-brand{
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		padding-left: 20px;
	}
	&-nav{
		float: none;
		margin-top: 0;
		margin-bottom: 20px;
		> li{
			float: none;
			> a{
				font-size: 18px;
				line-height: 1.1;
				border-radius: 5px;
				text-decoration: none;
				transition: color $transSpeed, background-color $transSpeed;
			}
		}
	}
	&--lg-dark &{
		&-nav{
			background: $primaryActive;
			border-radius: 5px;
			padding-top: 9px;
			padding-bottom: 9px;
			> li{
				padding: 5px 15px;
				> a{
					color: #fff;
					padding-top: 9px;
					padding-bottom: 9px;
					padding-right: 50px;
					text-transform: uppercase;
					&:hover, &:active, &:focus{
						color: #3b3833;
						background: $primary;
					}
				}
				&.active > a{
					color: #3b3833;
					background: $primary;
				}
			}
		}
	}
	&--lg-light &{
		&-nav{
			> li{
				padding: 2px 0;
				> a{
					color: $primaryActive;
					padding-top: 12px;
					padding-bottom: 12px;
					font-weight: bold;
					&:hover, &:active, &:focus{
						color: $primaryActive;
						background: $primary;
					}
				}
				&.active > a{
					color: $primaryActive;
					background: $primary;
				}
			}
		}
	}
	&--collapse &{
		&-nav{
			> li{
				> a{
					padding-left: 45px;
				}
				&.active > a{
					color: $primaryActive;
					background: $primary;
				}
			}
		}
	}
}


@include max-screen(1229px){
	.navbar-sidebar{
		&--lg-dark &{
			&-nav{
				> li{
					padding-left: 10px;
					padding-right: 10px;
					> a{
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}
	}
}


@include max-screen(991px){
	.navbar-sidebar--collapse{
		margin-bottom: 20px;
		.navbar{
			&-header{
				float: none;
				background: $primaryActive;
			}
			&-toggle{
				float: none;
				display: block;
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
				transition: transform 0.5s;

				.icon-arrow--down {
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);
				}
				&:not(.collapsed){
					.icon-arrow--down {
						transform: rotate(180deg) translateY(53%);
						filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
					}
				}
			}
			&-brand {
				height: auto;
				padding: 0;
			}
			&-collapse.collapse{
				display: none !important;
				&.in{
					display:block !important;
				}
			}
		}
		& &-nav{
			padding-top: 9px;
			padding-bottom: 9px;
			background: $primaryActive;
			border-top: 3px solid $primary;
			border-radius: 0;
			float: none !important;
			margin: 0;
			> li{
				float: none;
				padding: 5px 10px;
				a{
					color: #fff;
					padding: 10px;
					text-transform: uppercase;
					font-weight: normal;
					&:hover, &:active, &:focus{
						color: #3b3833;
						background: $primary;
					}
				}
				&.active > a{
					color: #3b3833;
					background: $primary;
				}
			}
		}
	}

}