.stock{
	position: relative;
	margin-bottom: 30px;
	.page-header{
		margin: 0 0 40px;
	}
	&--main{
		background: rgba(#5c5d57, 0.9);
		border-top: 9px solid $primary;
		margin-bottom: 0;
	}
	&:before, &:after{
		content: '';
		background: url(../images/svg/tracery.svg);
		width: 472.19px;
		height: 100%;
		position: absolute;
		top: 0;
		opacity: 0.1;
	}
	&:before{
		left: 50%;
		margin-left: -825px;
	}
	&:after{
		right: 50%;
		margin-right: -825px;
		transform: scale(-1,1);
	}
	&--main__wrap{
		position: relative;
		top: 20px;
		margin-top: -55px;
	}
	&__img{
		border-radius: 5px 0 0 5px;
	}
	&__content{
		position: relative;
		z-index: 1;
		background: #3b3833;
		border-radius: 5px;
		color: #fff;
		&-wrap{
			position: relative;
			padding: 25px 25px 25px 40px;
		}
	}
	&__subtitle{
		color: $primary;
		font-size: 24px;
		margin-bottom: 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__title{
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	&__desc{
		line-height: 22px;
		margin-bottom: 40px;
	}
	&__duration{
		color: $primary;
		line-height: 50px;
		padding-left: 40px;
		background: url(../images/svg/delay.svg) left center no-repeat;
	}
}

.stock--card {
	&__duration {
		@include min-screen(1230px) {
			float: right;
		}
	}
	&__title, &__subtitle {
		margin-top: 0;
	}
}

@include max-screen(1229px){
	.stock{
		&:before{
			margin-left: -710px;
		}
		&:after{
			margin-right: -710px;
		}
		&__duration{
			margin-bottom: 15px;
		}
		&__wrap {
			padding: 15px;
		}
	}
}

@include max-screen(991px){
	.stock{
		&:before{
			margin-left: -600px;
		}
		&:after{
			margin-right: -600px;
		}
		&__img{
			border-radius: 5px 0 0 0;
			max-width: 100%;
			height: auto;
		}
		&__content-wrap{
			padding: 15px;
		}
		&__desc{
			margin-bottom: 15px;
		}
	}
}

@include max-screen(767px){
	.stock{
		text-align: center;
		&__wrap{
			top: 0;
			margin-top: 0;
		}
		&__content{
			display: inline-block;
			width: 384px;
			text-align: left;
		}
		&__img{
			border-radius: 5px 5px 0 0;
		}
		&__content-wrap{
			padding: 50px 15px 30px 15px;
		}
		&__title{
			margin-bottom: 40px;
		}
		&__desc{
			min-height: 0;
		}
		&--main__desc{
			margin-bottom: 20px;
		}
		&__duration{
			margin-bottom: 20px;
		}
		&__btn-wrap{
			text-align: center;
		}
	}
}
@include max-screen(413px){
	.stock{
		&__content{
			width: auto;
		}
	}
}
@include max-screen(383px){
	.stock{
		&__content{
			margin: 0 -15px;
		}
		&__img, &__content{
			border-radius: 0;
		}
	}
}

.stock--full {
	&__title {
		margin-bottom: 0;
	}

	&__duration {
		margin-bottom: 20px;
	}

	&__content {
		margin-top: 20px;
		margin-bottom: 70px;
	}
}