.navbar-main {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5d57',endColorstr='#3b3833',GradientType=0);
}

.mainSlider__header:after {
  background: rgba(255, 255, 255, 0.3);
}

.stock__discount {
  top: 28px;
  right: -61px;
}
